In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("../data/tmp_ftrs.csv")
data

     day  id   alt      dmax      dmin    diff      mean       std  nans
0      1   2  42.0  4.845660 -2.964340   7.810  0.607697  2.018889    36
1      1   8  34.0  7.020660 -4.199340  11.220  0.838674  2.091451     3
2      1   9  72.0       NaN       NaN     NaN       NaN       NaN   144
3      1  13  52.0       NaN       NaN     NaN       NaN       NaN   144
4      1  17  34.0  4.745660 -1.434340   6.180  1.225278  1.485958     0
..   ...  ..   ...       ...       ...     ...       ...       ...   ...
987   31  74  42.0  8.550417 -3.669583  12.220  1.449417  3.603771     4
988   31  80  40.0  7.615417 -4.459583  12.075  1.173081  3.568107     7
989   31  85  72.0       NaN       NaN     NaN       NaN       NaN   144
990   31  88  44.0  8.945417 -4.584583  13.530  2.054192  3.760315    46
991   31  91  40.0       NaN       NaN     NaN       NaN       NaN   144

[992 rows x 9 columns]